.myFilter {
border: 2px lightgrey solid;
border-radius: 100px;
display: inline-block;
padding-right: 10px;
margin-top: 10px;
}
/* pour personnalisation de chaque picto des checkboxs*/
.myFilter span {
    border-radius: 100px;
    color:#0065FC;
    background-color: #DEEBFF;
    padding: 5px;
}
input[type="checkbox"].checkboxFiltres {
    display: none;
  }

  /*la pseudo-classe :checked permet de distinguer le <label> en fonction de l’état de l’élément <input>.*/
  input[type="checkbox"].checkboxFiltres:checked + label {
    /*background-color: #00B7E8 ;*/
    font-weight: bold;
    font-style: italic;
  }