body {
    font-family: 'Raleway', sans-serif;
    margin:0;
}

h1 {
    font-size:initial;
}

h2 {
    font-weight:normal;
    font-size:small;
}

#logo {
    width: 40%;
    background-repeat: no-repeat;
    background-size:6.5em;
    background-image: url("images/logo/Reservia@3x.png");
}

/*p#spacer { clear: both; height: 0px; }*/

#conteneurHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; /*les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités.*/
}

.crumbs ul {
    list-style-type: none;
    padding: 0;
}
.crumbs li {
  display: inline-block;
  vertical-align:middle;
}

.crumbs li a, .lienAfficherPlus {
    font-weight:bold;
    height:100%;
    text-decoration: none;
    padding: 20px; line-height:40px;
}
.crumbs li a:hover, .crumbs li a:focus {
    color: #0065FC;
}

.inscription {
    color :#0065FC;
    font-weight: bolder;
}
#resultats {
    display: flex;
    flex-direction: column;
}

#activites{ padding-top : 10px;  /*background-color: orange !important;*/}
/*sur grand écran = desktop */
@media screen and (min-width: 1024px) { 
    main {padding: 0 30px 0 30px;}

    #rech_mobile{display: none;} /* pour afficher le label "rechercher" et pas le picto*/
    #titreFiltre{float:left; vertical-align: bottom;  padding-top: 15px; padding-right: 15px } /* "Filtre" est positionné différement */
    .container {border-radius: 10px;} /* conteneur des plus populaires et des hebergements arrondis */
    #hebergements .container { background-color:#e8e8e8; margin-right : 30px; height: 100%; }  /* conteneur de hebergement (pas les autres) en gris*/

    /* changement de l'ordre de ce qu'il y a dans resultats en mode desktop */
    #resultats {
        flex-direction: row;
        justify-content: center;
       /* align-items: center;*/
       /* flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        align-content: stretch;
    }
    #resultats section:nth-child(1) { /* le splus populaires */
        order: 2;
       /* background-color: blue !important;*/
    }
    #resultats section:nth-child(2) { /* hébergement à marseille*/
        order: 1;  
        /*margin: auto; nok*/
        /*background-color: yellow;*/
        flex: 1; /* important pour qu'il prenne tout*/
    }
   
    #hebergements .produits,  #activites .produits { /* pour que les produits s'affiches à la suite en mode desktop */
        display: flex; /* flex-direction: row; par defaut */
        flex-wrap: wrap;
        justify-content: space-between; /*les éléments sont séparés avec de l'espace entre eux ;.*/
    }

    footer {
        display: flex;
     
        justify-content:space-around;
    }

    .crumbs li {
        border-top: 3px solid white; /* border-top blanc (sur fond blanc) pour éviter saut d'écran au survol ou le border-top est cette fois coloré*/
    }
    .crumbs li:hover, .crumbs li:focus-within {
        border-top: 3px solid #0065FC;
        color: #0065FC;
    }
    #activites .vignetteHaute {
        height:90%;
    }
    #activites .vignetteHaute .imgbg {
        background-size: 24.7em !important;
        height: 260px !important;
    }
}

/*sur plus petits écran = mobile */
@media screen and (max-width: 1023px) {

    .liensAncres li { /* seul hebergement et activités*/
        padding: 0;
        width: 100%;
        text-align:center;
        border-bottom: 3px solid grey;
    }
    .liensAncres li a {
        vertical-align: top;
        line-height:5px;
    }
    .liensAncres li:hover, .liensAncres li:focus-within {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    #conteneurHeader div:nth-child(4) {
        order: 2;
    }
    #conteneurHeader div:nth-child(2) {
        order: 3;
        flex: 50%;
    }
    #conteneurHeader div:nth-child(3) {
        order: 4;
        flex: 50%;
    }
    #rech_desktop{display: none;}
}

#recherche { padding : 8px }

#rech_desktop {
    color:white;
    background-color: #0065FC;
    padding: 5px 14px 5px 14px;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    font-size: 0.8em;
}
/* zone de recheche texte (ballon + input + loupe) */
.fa-map-marker-alt {
    color:black;
    background-color: #e8e8e8;
    padding: 5px;   
    border-radius: 10px 0 0 10px;
}
#imputRecherche {
    font-weight: bold;
    border-color: #e8e8e8;
    border-style: solid;
    color:black;
}
.fa-search{
    color:white;
    background-color: #0065FC;
    padding: 5px;
    border-radius: 0 10px 10px 0;
}


#filtres{
    padding-top : 30px;
}
#titreFiltre {
    font-weight: bold;
    /*background-color: red;*/
}

.infoDispo{
    margin-top: 10px;
}
.infoDispo :first-child{ /* petit picto "i" */
    float:left;
    margin-right: 10px;
}

.fa-info{
    font-size:0.6em;
    color:#0065FC;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border-style:solid;
    border-width: 0.2em;
    border-radius: 50px;
    border-color: #e8e8e8;
}

.container {padding: 5px; min-width: 300px;} /* max-width: 400px; pas ok en mobile */
.containerPopulaire {background-color:#e8e8e8;} /* gris dans les versions petit et grand écran */
.containerPopulaire .fa-chart-line{ padding-left: 20px;} /* picto fleche montante */

/* arrondi fond blanc */
.container .itemContainer {
    display: flex;
    background-color:white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    max-width: 340px; /* a voir */
    min-width: 220px;
    box-shadow: lightgrey 0.12em 0.12em 0.05em;
}
#activites .container .itemContainer {
    width: 220px;
    padding: 0px;
}
#activites .container .itemContainer .droite {
    width: 220px;
    padding: 0 0 10px 10px;
    font-size: 0.85em;
}
/* activation des étoiles de notation en bleu notation {padding-top: 10px;} nok ca agrandi le cadre */
.container .itemContainer .notation .checked {
    color: #0065FC;
}

/* commun a tous les encadrés populaires (image en fond) */
.container .itemContainer .imgbg {
    border-radius: 20px 0 0 20px;
    background-size: 10em;
    background-position: center;
    background-repeat: no-repeat;
    width: 105px;
}
/* images propres a chaque encadré populaire (dans .container .itemContainer )*/
#imgbg1 { background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");}
#imgbg2 { background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");}
#imgbg3 { background-size:6.5em; background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");}
.droite {
    padding-left: 5px;
}
/*  encadré hébergement : la photo est en haut au lieu d'a gauche => changement d direction du flex*/
#hebergements .itemContainer {
    flex-direction: column;
}
#hebergements .container .itemContainer .imgbg {
    border-radius: 20px 20px 0 0;
    background-size: 13.7em;
    width: 100%;
    height: 100px;
}
#hebergements .container .produits .droite {
    margin-top: 10px;
}
#hebergements .container .produits .droite p {
    margin: 0px;
}

/* images propres a chaque encadré hébergement (dans .container .itemContainer) */
#Hebimgbg1 { background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");}
#Hebimgbg2 {/*background-size:0.5em;*/ background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");}
#Hebimgbg3 { background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");}
#Hebimgbg4 { background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");}
#Hebimgbg5 { background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");}
#Hebimgbg6 { background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");}

/*  encadré activités : idem hébergement, sauf que pas de prix ni de star,e t photo en grand une ligne sur 2 en mod desktopla photo est en haut au lieu de'a gauche => changement d direction du flex*/
#activites .itemContainer {
    flex-direction: column;
}
#activites .container .itemContainer .imgbg {
    border-radius: 20px 20px 0 0;
    background-size: 13.7em;
    width: 100%;
    height: 100px;
}
#activites .container .produits .droite {
    margin-top: 10px;
}
#activites .container .produits .droite p {
    margin: 0px;
}

/* images propres a chaque encadré hébergement  (dans .container .itemContainer)*/
#Activimgbg1 { background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");}
#Activimgbg2 { background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");}
#Activimgbg3 { background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");}
#Activimgbg4 { background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");}
#Activimgbg5 { background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");}
#Activimgbg6 { background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");}

h3 {padding: 0px; margin: 0px}
footer {background-color:#e8e8e8; padding :10px}

footer ul {
    list-style-type: none;
    padding: 0;
}
footer li  {
    margin-bottom: 5px;
}
footer li a {
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
}

.lienProduit {
    text-decoration: none;
    color: black;
}
